<%= form_for @lesson do |f| %>
<%= f.text_field :name, placeholder: "name" %>
<p><%= f.check_box :is_active, {checked: true} %> Active?</p>

<%# students_array = @students.all.map { |student| [student.name, student.id]} %>
<%#= f.select(:student_id, students_array) %>

<%= f.submit "save" %>
<% end %>
<%= link_to "back", lessons_path %>