
<div class="container">
<h1> Edit Lesson </h1>
<%= form_for @lesson do |f| %>
<%= f.text_field :name, placeholder: "Lesson Title", size:60 %>
<%= f.check_box :is_active, {checked: true} %> Active?	
<%= f.submit %>
<% end %>
<%= link_to "back", instructors_path %>

</div>