<div>
<% if current_user.type == "Instructor" %>
<%= link_to 'new', new_lesson_path %>
<% end %>
</div>


<div class="col-md-4">
<ul>
<% @lessons.each do |l| %>

<li><h3><%= link_to l.name, lesson_path(l.id) %></h3> </li>
	<ul>
		<li> Instructor: <%= l.instructor_id %> </li>
		<li> 
			Students:<%= l.students.each do |s| s.id %>
			<% end %>

		</li>

		<li> <%= link_to "edit", edit_lesson_path(l.id) %> | <%= link_to "delete", lesson_path(l.id), method: :delete %></li>
	</ul>

<% end %>
</ul>
</div>