<div>
<%= link_to 'new', new_lesson_path %>
</div>


<div class="col-md-4">
<ul>
<% @lessons.each do |s| %>

<li><h3><%= link_to s.name, lesson_path(s.id) %></h3> </li>
	<ul>
		<li> Instructor: <%= Instructor.find(s.instructor_id).name %> </li>
		<li> <%= link_to "edit", edit_lesson_path(s.id) %> | <%= link_to "delete", lesson_path(s.id), method: :delete %></li>
	</ul>

<% end %>
</ul>
</div>