
<div class="container">
<h1> Create a Lesson </h1>
<%= form_for @lesson do |f| %>
<%= f.text_field :name, placeholder: "Lesson Title", size:60 %>
<%= f.hidden_field( :instructor_id, value: current_user.id ) %>
<%= f.submit %>
<% end %>
<%= link_to "back", instructors_path %>

</div>