<%= form_for @lesson do |f| %>
<%= f.text_field :name, placeholder: "name" %>
<p><%= f.check_box :is_active, {checked: true} %> Active?</p>
<%= f.hidden_field( :instructor_id, value: current_user.id ) %>

<%= f.submit %>
<% end %>
<%= link_to "back", lessons_path %>