
<div class="col-md-12">
<%= @lesson.name %>
<hr/>
</div>


<div class="col-md-4">
<p> Vote 0 to 5 </p>
<%= form_for @rating do |f| %>

<%= f.number_field :value %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit %>
<% end %>
</div>






<div class="col-md-4">

<% @ratings.each do |r| %>
<%= r.value %>
<% end %>



<p>create a for loop where you look at each student (in this lesson) and append an array based upon each users input.
case statement that changes the column height</p>



</div>

<div class="col-mid-4">
<h3>Students</h3>
</div>