
<%= @SQLratings %>

<hr />

<%= @ratingvalues %>

<div class="col-md-12">
<%= @lesson.name %>
<hr/>
</div>


<div class="col-md-1">
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 5 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "5" %>
<% end %>
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 4 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "4" %>
<% end %>
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 3 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "3" %>
<% end %>
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 2 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "2" %>
<% end %>
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 1 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "1" %>
<% end %>
<%= form_for @rating do |f| %>
<%= f.hidden_field :value, value: 0 %>
<%= f.hidden_field :student_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "0" %>
<% end %>

</div>

<div class="col-md-11">

<%= render 'dataview3' %>



<%= render 'dataview1' %>

</div>

